Debug/
Drivers/
firmware/STM32F030F4_FLASH.ld
firmware/dimmer.elf.launch
firmware/.settings/org.eclipse.core.resources.prefs
firmware/.settings/org.eclipse.cdt.managedbuilder.core.prefs
firmware/.settings/language.settings.xml
firmware/.settings/com.atollic.truestudio.debug.hardware_device.prefs
firmware/.code_review_properties
